<!--TODO: Add Contact Info-->
<!--TODO: Modify columns — remove unnecessary-->

{% load static %}

<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Контакты</h5>
                <!--headin5_amrc-->
                <!--				   TODO: Make Contacts be dynamically generated-->
                <p><i class="fa fa-location-arrow"></i> {{ contact_info.address }} </p>
                <p><i class="fab fa-telegram-plane"></i> <a href="{{ contact_info.telegram_link }}"
                                                            class="contact-link">{{ contact_info.telegram_username }}</a></p>
                <p><i class="fab fa-whatsapp"></i> <a href="{{ contact_info.whatsapp_link }}" class="contact-link">{{ contact_info.whatsapp_phone }}</a> </p>
                <p><i class="fa fa-phone"></i> <a href="tel:{{ contact_info.phone }}" class="contact-link">{{ contact_info.phone }}</a></p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:{{ contact_info.email }}" class="contact-link">{{ contact_info.email }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-logo">
            <a href="{% url 'home' %}"><img src="{% static 'images/footer-logo.png' %}" alt=""/></a>
        </div>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="copyright text-center">Все Права Защищены. &copy; 2024 — ГринЛав</p>
        <!--TODO: Add / Remove Social Network links-->
        <ul class="social_footer_ul">
            <li><a href="{{ contact_info.telegram_link }}"><i class="fab fa-telegram-plane"></i></a></li>
            <li><a href="mailto:{{ contact_info.email }}"><i class="fa fa-envelope"></i></a></li>
            <li><a href="{{ contact_info.whatsapp_link }}"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>
</footer>