<!--TODO: Russify-->

{% extends 'base.html' %}
{% load static %}
{% block title %}Сервисы - ГринЛав{% endblock %}

{% block content %}
    <!-- full Title -->
    <div class="full-title">
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">Услуги
                <!-- <small>Subheading</small> -->
            </h1>
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">
        <div class="breadcrumb-main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Главная Страница</a>
                </li>
                <li class="breadcrumb-item active">Услуги</li>
            </ol>
        </div>

        <!-- Image Header -->
        {% if services_top_picture %}
        <img class="img-fluid rounded mb-4" src="{{ services_top_picture.image.url }}" alt="{{ services_top_picture.title }}" />
        {% endif %}

        <!-- Services Section -->
        <div class="services-bar" style="text-transform: none !important;">
            <h1 class="my-4">Список Услуг</h1>
            <div class="row">
                {% for service in services %}
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">{{ service.name }}</h4>
                        {% if service.image %}
                        <div class="card-img">
                            <img class="img-fluid service-image" src="{{ service.image.url }}" alt="{{ service.name }}" />
                        </div>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ service.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
{% endblock %}
